* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    background-repeat: no-repeat;
    background-size: contain;
}

#login-cont {
    display: block;
    position: relative;
    margin: 0 auto;
    height: 20rem;
    width: 40%;
    top: 7.5rem;
}

.login-puts {
    display: block;
    position: relative;
    margin-top: 1rem;
    background-color: transparent;
    padding: 10px;
    width: 80%;
    left: 10%;
    top: 2rem;
    border-radius: 5px;
    text-align: center;
    transition: background 300ms ease-in-out, color 300ms ease-in-out;
    font-weight: 700;
    font-size: 20px;
    border: none;
    color: white;
}

input::placeholder {
    color: whitesmoke;
}

.login-puts:hover {
    background-color: #e3e3e3;
    box-shadow: 1px 1px 10px black;
    color: black;
    

}

.login-puts:hover::placeholder {
    color: black;
    font-weight: 700;
}

#refs-cont {
display: flex;
position: relative;
justify-content: space-around;
align-content: space-around;
font-weight: 400;
font-size: 20px;
top: 4.5rem;
}

#refs-cont > div {
    margin: 0.5rem;
}

#refs-cont > div > a {
    color: white;
text-decoration: none;
}

#refs-cont > div > a:hover {
    color: #e3e3e3;
}

#login-btn {
    position: relative;
    display: block;
    padding: 12px;
    font-size: 20px;
    border-radius: 5px;
    color: #3cba92;
    margin: 0 auto;
    top: 7.5rem;
    box-shadow: 1px 1px 5px black;
    -webkit-transition: opacity 300ms ease-in-out, background 300ms ease-in-out;
    -o-transition: opacity 300ms ease-in-out, background 300ms ease-in-out;
    transition: opacity 300ms ease-in-out, background 300ms ease-in-out;
    background-color: transparent;
    color: white;
    font-weight: 500;
    border: 2px solid black;
    width: 20%;
}

#login-btn:hover, #login-btn:active {
 opacity: 0.9;
 box-shadow: 2px 2px 5px black inset;
 background-color: white;
 color: #0ba360;
}

